.section__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -0.5px;
}
.section__header h3 {
  font-size: var(--fs-600);
  color: var(--clr-dark);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--clr-primary);
}
.section__header a {
  font-size: var(--fs-500);
  color: var(--clr-accent);
  text-decoration: none;
  letter-spacing: -1px;
}
/* HEADER/HERO */
header {
  position: relative;
  background-image: url("../../images/hero_banners/home.jpg");
  background-position: center;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: 35vh;
  max-height: 250px;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #cec3c362;
}
.hero-text {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: var(--fs-600);
  font-weight: 600;
  color: var(--clr-accent);
  line-height: 1.4;
  text-shadow: var(--text-shadow-strong);
}
.hero-text p {
  font-size: var(--fs-500);
}

/* =========================================================================================================================================== */

/* CATEGORY SECTION */
.section--new_arrivals {
  background: var(--clr-light);
}
.section--category .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.section__header {
  font-size: var(--fs-600);
  padding-top: 1.25rem;
}
.category {
  width: 100%;
  box-shadow: var(--shadow-soft);
  border-radius: 15px;
  padding: 1.5rem;
}
.category.girl {
  background-color: var(--clr-primary);
}
.category.boy {
  background-color: var(--clr-accent);
}
.category_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -1px;
}
.category_header h3 {
  font-size: var(--fs-500);
  color: var(--clr-light);
}
.category_header a {
  font-size: var(--fs-400);
  color: var(--clr-light);
}

/* =========================================================================================================================================== */

/* TABLET LAYOUT RESPONSIVENESS */
@media (min-width: 450px) and (max-width: 1023px) {
  /* HEADER/HERO */
  header {
    height: 75vh;
    max-height: 350px;
  }
  /* CATEGORIES */
  .section--category .container {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }
  .category {
    width: 50%;
  }
  .section--new_arrivals .container {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }
}

/* =========================================================================================================================================== */

/* DESKTOP LAYOUT RESPONSIVENESS */
@media (min-width: 1024px) {
  /* CATEGORIES */
  .section--category .container {
    flex-direction: row;
    gap: 0.5rem;
  }
  .category {
    position: relative;
    width: 50%;
  }
  .category_header b {
    font-size: var(--fs-600);
  }
  .category_header a {
    font-size: var(--fs-400);
  }
  .category {
    padding: 1rem;
  }
}

/* =========================================================================================================================================== */
