/* ===================================================== UNIVERSAL CLASS ============================================================ */
/* SLIDER */
.slider {
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.slider::-webkit-scrollbar {
  display: none;
}
/* GRID/FLEX */
.grid {
  position: relative;
  display: flex;
  transition: 0.3s ease-in-out;
  scroll-behavior: smooth;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  gap: 1rem;
}
/* ARROW BUTTONS */
.cat-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: var(--clr-dark);
  font-size: var(--fs-600);
  cursor: pointer;
  transition: var(--transition-slow);
  z-index: 2;
  box-shadow: var(--shadow-strong);
}
.cat-btn:hover {
  background-color: rgb(255, 255, 255);
}
.cat-btn.left {
  left: 0.5rem;
}
.cat-btn.right {
  right: 0.5rem;
}
/* PRODUCT CARD */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 100%;
  border-radius: 15px;
  scroll-snap-align: center;
  padding: 1rem;
  background-color: white;
  box-shadow: var(--shadow-strong);
}
.product-card img {
  width: 100%;
}
.product-card .card-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.6;
  width: 100%;
  font-size: var(--fs-500);
}
.product-card .card-actions {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: var(--fs-400);
}
.card-actions a {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  border-radius: 5px;
}
.card-actions .buy_btn {
  flex: 1;
  padding: 5px 1rem;
}
.card-actions .cart_btn {
  flex: 0 0 auto;
  width: 20%;
  padding: 5px;
}

/* HEADER/HERO */
header {
  position: relative;
  background-image: url("../images/hero_banners/home.jpg");
  background-position: center;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: 35vh;
  max-height: 250px;
}
.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #cec3c362;
}
.hero-text {
  position: absolute;
  z-index: 2;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: var(--fs-500);
  font-weight: 600;
  color: var(--clr-accent);
  line-height: 1.4;
  text-shadow: var(--text-shadow-strong);
}

/* =========================================================================================================================================== */

/* CATEGORY SECTION */
#category_section {
  background: var(--gradient-primary);
  padding: 4rem 1rem;
}
#category_section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.category {
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-soft);
  border-radius: 15px;
  padding: 1.5rem;
  width: 100%;
}
.category.girl {
  background-color: var(--clr-primary);
}
.category.boy {
  background-color: var(--clr-accent);
}
.category_header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -1px;
}
.category_header h3 {
  font-size: var(--fs-500);
  color: var(--clr-light);
}
.category_header a {
  font-size: var(--fs-400);
  text-decoration: none;
  color: var(--clr-light);
}
/* CATEGORY CARDS */
.category-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 100%;
  background-color: var(--clr-light);
  border-radius: 15px;
  scroll-snap-align: start;
}
.category-card img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* =========================================================================================================================================== */

/* NEW ARRIVALS SECTION */
#new_arrivals .container {
  padding: 1rem 0.5rem;
}
.new_arrivals-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -0.5px;
}
.new_arrivals-header h3 {
  font-size: var(--fs-600);
  color: var(--clr-dark);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--clr-primary);
}
.new_arrivals-header a {
  font-size: var(--fs-500);
  color: var(--clr-accent);
  text-decoration: none;
  letter-spacing: -1px;
}
.new_arrivals-products {
  position: relative;
  overflow-x: hidden;
  border-radius: 15px;
  width: 100%;
  padding: 1.5rem 0;
}
.new_arrivals-products .slider {
  padding: 0.5rem;
}
.new_arrivals-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -0.5px;
}
.new_arrivals-header h3 {
  font-size: var(--fs-600);
  color: var(--clr-dark);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--clr-primary);
}
.new_arrivals-header a {
  font-size: var(--fs-500);
  color: var(--clr-accent);
  text-decoration: none;
  letter-spacing: -1px;
}
.new_arrivals-products {
  position: relative;
  overflow-x: hidden;
  border-radius: 15px;
  width: 100%;
  padding: 1.5rem 0;
}
.new_arrivals-products .slider {
  padding: 0.5rem;
}
/* ON SALE SECTION */
#on_sale .container {
  padding: 1rem 0.5rem;
}
.on_sale-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -0.5px;
}
.on_sale-header h3 {
  font-size: var(--fs-600);
  color: var(--clr-dark);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--clr-primary);
}
.on_sale-header a {
  font-size: var(--fs-500);
  color: var(--clr-accent);
  text-decoration: none;
  letter-spacing: -1px;
}
.on_sale-products {
  position: relative;
  overflow-x: hidden;
  border-radius: 15px;
  width: 100%;
  padding: 1.5rem 0;
}
.on_sale-products .slider {
  padding: 0.5rem;
}
.on_sale-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -0.5px;
}
.on_sale-header h3 {
  font-size: var(--fs-600);
  color: var(--clr-dark);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-color: var(--clr-primary);
}
.on_sale-header a {
  font-size: var(--fs-500);
  color: var(--clr-accent);
  text-decoration: none;
  letter-spacing: -1px;
}
.on_sale-products {
  position: relative;
  overflow-x: hidden;
  border-radius: 15px;
  width: 100%;
  padding: 1.5rem 0;
}
.on_sale-products .slider {
  padding: 0.5rem;
}
@media (min-width: 450px) {
  /* HEADER/HERO */
  header {
    height: 75vh;
    max-height: 350px;
  }
  .hero-text {
    font-size: var(--fs-600);
  }
  /* CATEGORIES */
  #category_section .container {
    flex-direction: row;
  }
  /* NEW ARRIVALS */
  .product-card {
    scroll-snap-align: right;
  }
}

/* =========================================================================================================================================== */

/* TABLET LAYOUT RESPONSIVENESS */
@media (min-width: 450px) and (max-width: 1023px) {
  /* NEW ARRIVALS GRID/FLEX */
  .new_arrivals-products .grid {
    gap: 1.8rem;
  }
  /* ON SALE GRID/FLEX */
  .on_sale-products .grid {
    gap: 1.8rem;
  }
  /* PRODUCT CARDS*/
  .product-card {
    flex: 0 0 30.5%;
  }
}

/* =========================================================================================================================================== */

/* DESKTOP LAYOUT RESPONSIVENESS */
@media (min-width: 1024px) {
  /* CATEGORIES */
  #category_section .container {
    flex-direction: row;
  }
  .category_header b {
    font-size: var(--fs-600);
  }
  .category_header a {
    font-size: var(--fs-400);
  }
  .category-card {
    flex: 0 0 48.5%;
  }
  /* NEW ARRIVALS GRID/FLEX */
  .new_arrivals-products .grid {
    gap: 1rem;
  }
  /* ON SALE GRID/FLEX */
  .on_sale-products .grid {
    gap: 1rem;
  }
  /* PRODUCT CARDS*/
  .product-card {
    flex: 0 0 24%;
  }
}

/* =========================================================================================================================================== */
