/* HEADER/HERO */
header {
  position: relative;
  background-image: url("../images/hero_banners/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: 35vh;
  max-height: 250px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #0d0d0d3d;
}
.hero-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: var(--fs-500);
  color: var(--clr-light);
  text-shadow: var(--text-shadow-medium);
  line-height: 1.4;
}
/* CATEGORY SECTION */
#category_section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1.5rem;
  width: 100%;
}
#category_section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.category {
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-soft);
  border-radius: 15px;
  padding: 1.5rem;
  width: 100%;
}
.category.girl {
  background-color: var(--clr-primary);
}
.category.boy {
  background-color: var(--clr-accent);
}
.category_header {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  letter-spacing: -1px;
}
.category_header b {
  color: var(--clr-light);
  font-size: var(--fs-500);
}
.category_header a {
  font-size: var(--fs-400);
  text-decoration: none;
  color: var(--clr-light);
}
/* SLIDER */
.category-slider {
  overflow-y: hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.category-slider::-webkit-scrollbar {
  display: none;
}
.category-grid {
  position: relative;
  display: flex;
  transition: 0.3s ease-in-out;
  scroll-behavior: smooth;
  scrollbar-width: none; /* hide scrollbar for Firefox */
  gap: 1rem;
}
/* CATEGORY CARDS */
.category-card {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  background-color: var(--clr-light);
  border-radius: 15px;
  scroll-snap-align: center;
}
.category-card img {
  height: 100%;
}
/* ARROW BUTTONS */
.cat-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--clr-light);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: var(--clr-dark);
  font-size: var(--fs-600);
  cursor: pointer;
  transition: var(--transition-slow);
  z-index: 2;
  box-shadow: var(--shadow-strong);
}
.cat-btn:hover {
  background-color: rgb(255, 255, 255);
}
.cat-btn.left {
  left: 0.5rem;
}
.cat-btn.right {
  right: 0.5rem;
}
/* TABLET LAYOUT RESPONSIVENESS */
@media (min-width: 450px) and (max-width: 1023px) {
  /* HEADER/HERO */
  header {
    height: 75vh;
    max-height: 350px;
  }
  .hero-text {
    font-size: var(--fs-600);
  }
  /* CATEGORIES */
  .category-card {
    flex: 0 0 50%;
  }
}
/* DESKTOP LAYOUT RESPONSIVENESS */
@media (min-width: 1024px) {
  /* HEADER/HERO */
  header {
    height: 75vh;
    max-height: 350px;
  }
  .hero-text {
    font-size: var(--fs-600);
  }
  /* CATEGORIES */
  #category_section .container {
    flex-direction: row;
  }
  .category-card {
    flex: 0 0 48%;
  }
}
