/* HEADER/HERO */
header {
  position: relative;
  background-image: url("../images/hero_banners/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  height: 35vh;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #0d0d0d3d;
}
.hero-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 0.5rem;
  font-size: var(--fs-500);
  color: var(--clr-light);
  text-shadow: var(--text-shadow-medium);
  line-height: 1.4;
}
/* CATEGORY SECTION */
#category_section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
}
#category_section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.category {
  position: relative;
  background-color: var(--clr-primary);
  box-shadow: var(--shadow-soft);
  border-radius: 15px;
  padding: 1.5rem 1rem;
  width: 100%;
}
.category.boy {
  background-color: var(--clr-accent);
}
.category-grid_header {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.category-grid_header p {
  color: var(--clr-light);
  font-size: var(--fs-600);
  font-weight: 600;
}
.category-grid_header a {
  font-size: var(--fs-500);
  text-decoration: none;
  color: var(--clr-light);
}
.category-card {
  display: flex;
  justify-content: center;
  background-color: var(--clr-light);
  border-radius: 15px;
  flex-grow: 100%;
  min-width: 100%;
}
.category-card img {
  height: 100%;
}
/* SLIDER */
.category-slider {
  overflow: hidden;
}
.category-grid {
  position: relative;
  display: flex;
  transition: 0.3s ease-in-out;
  scroll-behavior: smooth;
  scrollbar-width: none; /* hide scrollbar for Firefox */
}
.category-grid::-webkit-scrollbar {
  display: none; /* hide scrollbar for Chrome, Edge, etc. */
}
/* ARROW BUTTONS */
.cat-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--clr-light);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: var(--clr-dark);
  font-size: var(--fs-600);
  cursor: pointer;
  transition: var(--transition-slow);
  z-index: 2;
  box-shadow: var(--shadow-strong);
}
.cat-btn:hover {
  background-color: rgb(255, 255, 255);
}
.cat-btn.left {
  left: -5px;
}
.cat-btn.right {
  right: -5px;
}
@media (min-width: 450px) and (max-width: 1023px) {
  /* HEADER/HERO */
  header {
    height: 50vh;
  }
  .category-grid {
    padding-right: 1rem;
    gap: 1rem;
    width: 100%;
  }
  .category-card {
    min-width: 50%; /* 2 per view */
  }
  .cat-btn.left {
    left: 5px;
  }
  .cat-btn.right {
    right: 5px;
  }
}
/* DESKTOP LAYOUT RESPONSIVENESS */
@media (min-width: 1024px) {
  header {
    height: 50vh;
  }
  #category_section .container {
    flex-direction: row;
  }
  .category {
    width: 50%;
  }
}
