.product-card img {
  width: 100%;
  border-radius: 15px;
}
.product-card .card-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.6;
  width: 100%;
  font-size: var(--fs-500);
}
.product-card .card-actions {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: var(--fs-400);
}
.card-actions a {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  text-decoration: none;
  border-radius: 5px;
}
.card-actions .buy_btn {
  flex: 1;
  padding: 5px 1rem;
}
.card-actions .cart_btn {
  flex: 0 0 auto;
  width: 20%;
  padding: 5px;
}
