.announcment-bar {
  position: relative;
  z-index: 100;
  text-align: center;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-size: var(--fs-400);
  font-weight: 600;
}
nav {
  z-index: 1000;
  background-color: #fff;
  position: sticky;
  top: 0;
  box-shadow: var(--shadow-strong);
}
#desktop-nav {
  display: none;
}
/* MOBILE NAVIGATION BAR */
#mobile-nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
}
#mobile-nav .logo {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
#mobile-nav .logo img {
  width: 5rem;
}
#mobile-nav .right-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 1rem;
  font-size: var(--fs-700);
  color: var(--clr-accent);
}
.nav-user a {
  color: var(--clr-accent);
}
/* NAVIGATION SEARCH BAR */
.nav-searchbar .searchbtn {
  display: none;
}
.nav-searchbar input {
  display: none;
}
/* SEARCH BAR MENU */
.searchbar-menu {
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--clr-accent);
  background-color: #fff;

  /* Hidden by default */
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
}
.searchbar-menu.active {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
.searchbar-menu i {
  font-size: var(--fs-700);
}
.searchbar-menu .searchbar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--clr-accent);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  transition: var(--transition-slow);
  backdrop-filter: blur(8px);
  width: 90%;
}
.searchbar-container i {
  font-size: var(--fs-500);
}
.searchbar-container input {
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--fs-400);
  color: var(--clr-accent);
}
/* HAMBURGER MENU BUTTONS */
#mobile-nav .ham-menu i {
  transition: all 0.3s ease;
}
.ham-menu .closebtn {
  display: none;
}
.ham-menu .closebtn.active {
  display: flex;
  transform: scale(1);
  opacity: 1;
}
.ham-menu .openbtn.active {
  display: none;
  transform: scale(1);
  opacity: 1;
}
/* OFF SCREEN MENU */
.off-screen-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  opacity: 0; /* hide initially */
  pointer-events: none; /* prevent clicks when hidden */
  transition: opacity 0.35s ease;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-600);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: var(--text-shadow-strong);
}
.off-screen-menu.active {
  opacity: 1; /* show menu */
  pointer-events: auto; /* allow interactions */
}
.off-screen-menu .nav-links {
  width: 100%;
}
.off-screen-menu a {
  text-decoration: none;
  color: var(--clr-accent);
}
.off-screen-menu li {
  list-style: none;
  border-top: 1px solid #ccc;
  padding: 1rem;
}
.off-screen-menu a.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--clr-accent);
  text-decoration-thickness: 0.5px;
}
/* TABLET RESPONSIVE LAYOUT */
@media (min-width: 767px) and (max-width: 1023px) {
  #desktop-nav {
    display: none;
  }
  #mobile-nav .logo img {
    width: 5.5rem;
  }
  #mobile-nav .right-navbar {
    font-size: var(--fs-600);
  }
  /* NAVIGATION SEARCH BAR */
  #mobile-nav .nav-searchbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--clr-accent);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: var(--transition-slow);
    backdrop-filter: blur(8px);
  }
  .nav-searchbar .mobile-searchbtn {
    display: none;
  }
  .nav-searchbar .searchbtn {
    display: block;
  }
  .nav-searchbar i {
    font-size: var(--fs-500);
    color: var(--clr-accent);
  }
  .nav-searchbar input {
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    font-size: var(--fs-400);
    color: var(--clr-accent);
  }
}
/* DESKTOP RESPONSIVE LAYOUT */
@media (min-width: 1024px) {
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    display: block;
  }
  /* DESTKOP NAVIGATION BAR */
  #desktop-nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: var(--fs-600);
    color: var(--clr-accent);
  }
  #desktop-nav .logo {
    width: 80%;
  }
  #desktop-nav .logo img {
    width: 6rem;
  }
  #desktop-nav .right-navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
  /* NAVIGATION SEARCH BAR */
  #desktop-nav .nav-searchbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border: 1px solid var(--clr-accent);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    transition: var(--transition-slow);
    backdrop-filter: blur(8px);
  }
  .nav-searchbar .mobile-searchbtn {
    display: none;
  }
  .nav-searchbar .searchbtn {
    display: block;
  }
  .nav-searchbar i {
    font-size: var(--fs-500);
    color: var(--clr-accent);
  }
  .nav-searchbar input {
    display: flex;
    background: transparent;
    border: none;
    outline: none;
    font-size: var(--fs-400);
    color: var(--clr-accent);
  }
  #desktop-nav .nav-links {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav-links a {
    font-weight: 600;
    font-size: var(--fs-500);
    text-decoration: none;
    color: var(--clr-accent);
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a.active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--clr-accent);
    text-decoration-thickness: 0.5px;
  }
}
